---
http_interactions:
- request:
    method: get
    uri: http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/rewards/4e691cf9c47eed2809000094.json
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"7e731560b057a10987daf6f20591301a"'
    body: ! '{"data":{"name":"Season Champion in a Battlefield: Bad Company 2 Team
      Ladder","created_at":"2011-09-08T12:52:25-07:00","activity_id":"4e691cf9c47eed2809000093","id":"4e691cf9c47eed2809000094","user_id":"4e691cf8c47eed280900008f","site_id":"4d9f67f951c21c5100000013","definition":{"type":"rewarddefinition","name":"Season
      Champion in a Battlefield: Bad Company 2 Team Ladder","created_at":"2011-09-08T12:39:47-07:00","assignable":false,"allow_duplicates":false,"components":"[{\"comparator\":{\"$gte\":1},\"command\":\"count\",\"where\":{\"verb\":\"ps3_battlefield-bad-company-2_team_won_seasonplayoffs\",\"user_id\":\"%user_id\",\"site_id\":\"%site_id\",\"game\":\"battlefield-bad-company-2\",\"sku\":\"ps3\",\"ladder\":\"team\"}}]","reward_template":{"message":"Season
      Champion in a Battlefield: Bad Company 2 Team Ladder"},"tags":"medal,online_competition,ladder,ps3,battlefield-bad-company-2,team","site_id":"4d9f67f951c21c5100000013","image_url":"http://s3.amazonaws.com/badgeville-production-reward-definitions/images/4e691a02c47eed2829000011/original.png?1315510786","image_file_name":"GB_seasonChamp.png","data":{},"_id":"4e691a02c47eed2829000011","id":"4e691a02c47eed2829000011","active":true,"hint":null,"message":"Season
      Champion in a Battlefield: Bad Company 2 Team Ladder","active_start_at":null,"active_end_at":null},"image":"http://s3.amazonaws.com/badgeville-production-reward-definitions/images/4e691a02c47eed2829000011/original.png?1315510786","tags":["medal","online_competition","ladder","ps3","battlefield-bad-company-2","team"],"status":null,"message":"Season
      Champion in a Battlefield: Bad Company 2 Team Ladder","history":null,"next_reward_id":null},"paging":null}'
  recorded_at: Tue, 13 Dec 2011 16:46:11 GMT
recorded_with: VCR 2.0.0.rc1
