---
http_interactions:
- request:
    method: get
    uri: http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/rewards.json?include_totals=true&page=1&per_page=10&tags=battlefield-bad-company-2%2Cps3
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"e233cf758bc6624a6f03eb519d9914d4"'
    body: ! '{"data":[{"name":null,"created_at":"2011-05-19T11:41:12-07:00","activity_id":"4dd56448c47eed2fbd000372","id":"4dd56448c47eed2fbd000373","user_id":"4d8a348f51c21c494100011d","site_id":"4d700bd351c21c1e3c000004","definition":null,"image":null,"tags":["medal","online_competition","ps3","battlefield-bad-company-2"],"status":null,"message":"Ranked
      1st in a Battlefield: Bad Company 2 Arena","history":{"toast":{"4dcd8c3ac47eed6b2a000077":"2011-07-21T00:28:59Z"},"facebook":null,"twitter":null,"email":null},"next_reward_id":null},{"name":null,"created_at":"2011-05-19T11:41:14-07:00","activity_id":"4dd56449c47eed2fbd000374","id":"4dd5644ac47eed2fbd000375","user_id":"4d8a348f51c21c494100011d","site_id":"4d700bd351c21c1e3c000004","definition":null,"image":null,"tags":["medal","online_competition","ps3","battlefield-bad-company-2"],"status":null,"message":"Ranked
      2nd in a Battlefield: Bad Company 2 Arena","history":{"toast":{"4dcd8c3ac47eed6b2a000077":"2011-07-21T00:28:59Z"},"facebook":null,"twitter":null,"email"[...]
