---
http_interactions:
- request:
    method: post
    uri: http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/activity_definitions.json
    body: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Location:
      - http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/activity_definitions
    body: ! '{"_id":"4ee7acca4dd625482400015f","name":"API test (V2) activity - gem
      test","selector":{"verb":"api_test_v2_gem"},"adjustment":{"points":5},"bucket_drain_rate":null,"bucket_max_capacity":null,"limit_per_player":null,"limit_field_scope":null,"site_id":"4d700bd351c21c1e3c000004","verb":"api_test_v2_gem","icon":null,"tool_tip":null,"hide_in_widgets":true,"enable_rate_limiting":false,"enable_count_limiting":false,"enable_site_notification":null,"enable_user_notification":null,"enable_auto_subscription":null,"description":null}'
  recorded_at: Tue, 13 Dec 2011 19:51:38 GMT
recorded_with: VCR 2.0.0.rc1
