---
http_interactions:
- request:
    method: get
    uri: http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/activity_definitions/4e95d3ed6a898d3aa3011581.json
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"5d860b58874a61af3252f0b55d94c36c"'
    body: ! '{"data":{"_id":"4e95d3ed6a898d3aa3011581","name":"1st place in three
      or more matches in a PS3 Resistance 3 Ladder","selector":{"verb":"ps3_resistance-3_won_laddermatchfirst_threematches"},"adjustment":{"points":0},"bucket_drain_rate":null,"bucket_max_capacity":null,"limit_per_player":null,"limit_field_scope":"","site_id":"4d700bd351c21c1e3c000004","verb":"ps3_resistance-3_won_laddermatchfirst_threematches","icon":null,"tool_tip":"","hide_in_widgets":true,"enable_rate_limiting":false,"enable_count_limiting":false,"enable_site_notification":null,"enable_user_notification":null,"enable_auto_subscription":null,"description":null},"paging":null}'
  recorded_at: Tue, 03 Jan 2012 16:33:39 GMT
recorded_with: VCR 2.0.0.rc1
