---
http_interactions:
- request:
    method: get
    uri: http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/activity_definitions.json?include_totals=true&page=1&per_page=10&site=community.stagingdomain.com
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"7e4bebc39116ad78853628ef2785ab15"'
    body: ! '{"data":[{"_id":"4e95d3ed6a898d3aa3011581","name":"1st place in three
      or more matches in a PS3 Resistance 3 Ladder","selector":{"verb":"ps3_resistance-3_won_laddermatchfirst_threematches"},"adjustment":{"points":0},"bucket_drain_rate":null,"bucket_max_capacity":null,"limit_per_player":null,"limit_field_scope":"","site_id":"4d700bd351c21c1e3c000004","verb":"ps3_resistance-3_won_laddermatchfirst_threematches","icon":null,"tool_tip":"","hide_in_widgets":true,"enable_rate_limiting":false,"enable_count_limiting":false,"enable_site_notification":null,"enable_user_notification":null,"enable_auto_subscription":null,"description":null},{"_id":"4dcc44dfc47eed597300c210","name":"20XX
      Season Points Winner","selector":{"verb":"season_points_winner"},"adjustment":{"points":0},"bucket_drain_rate":0.0,"bucket_max_capacity":0.0,"limit_per_player":null,"limit_field_scope":null,"site_id":"4d700bd351c21c1e3c000004","verb":"season_points_winner","icon":null,"tool_tip":null,"hide_in_widgets":true,"enable_rate_limiting":false,"enable_count_limiting":false,"enable_site_notification":null,"enable_user_notification":null,"enable_au[...]
