---
http_interactions:
- request:
    method: post
    uri: http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/users.json
    body: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Location:
      - http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/users
    body: ! '{"name":"player_hater","created_at":"2011-12-13T12:56:44-08:00","email":"player_hater@community.stagingdomain.com","_id":"4ee7bc0c6a898d10ed00016b"}'
  recorded_at: Tue, 13 Dec 2011 20:56:44 GMT
- request:
    method: post
    uri: http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/players.json
    body: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Location:
      - http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/players
    body: ! '{"_id":"4ee7bc0c3dc64810b0000157","id":"4ee7bc0c3dc64810b0000157","name":"player_hater","first_name":null,"last_name":null,"display_name":null,"nick_name":null,"email":"player_hater@community.stagingdomain.com","user_email":"player_hater@community.stagingdomain.com","created_at":"2011-12-13T12:56:44-08:00","user_id":"4ee7bc0c6a898d10ed00016b","site_id":"4d700bd351c21c1e3c000004","site_url":"community.stagingdomain.com","admin":false,"points_day":0.0,"points_week":0.0,"points_month":0.0,"points_all":0.0,"facebook_id":null,"facebook_link":null,"twitter_id":null,"twitter_username":null,"twitter_link":null,"email_notifications":true,"custom_picture_url":null,"picture_url":null,"preferences":{"email_notifications":true,"hide_notifications":false,"publish_activity":true},"tracks":{}}'
  recorded_at: Tue, 13 Dec 2011 20:56:44 GMT
recorded_with: VCR 2.0.0.rc1
