---
http_interactions:
- request:
    method: get
    uri: http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/players/4dcd8c3ac47eed6b2a000077.json
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"b080a1c9b3f3a63df0d32f966f2c7645"'
    body: ! '{"data":{"_id":"4dcd8c3ac47eed6b2a000077","id":"4dcd8c3ac47eed6b2a000077","name":"3","first_name":null,"last_name":null,"display_name":null,"nick_name":null,"email":"3@staging-badgeville-somedomain.com","user_email":"3@staging-badgeville-somedomain.com","created_at":"2011-05-13T12:53:30-07:00","user_id":"4d8a348f51c21c494100011d","site_id":"4d700bd351c21c1e3c000004","site_url":"community.stagingdomain.com","admin":false,"points_day":0.0,"points_week":0.0,"points_month":0.0,"points_all":0.0,"facebook_id":null,"facebook_link":null,"twitter_id":null,"twitter_username":null,"twitter_link":null,"email_notifications":null,"custom_picture_url":null,"picture_url":null,"preferences":{"hide_notifications":false,"publish_activity":true,"email_notifications":null},"tracks":{}},"paging":null}'
  recorded_at: Tue, 13 Dec 2011 20:26:12 GMT
recorded_with: VCR 2.0.0.rc1
