---
http_interactions:
- request:
    method: get
    uri: http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/players.json?email=117%40staging-badgeville-somedomain.com&include_totals=true&page=1&per_page=10
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"f986c33f13667db9e4f5c7cfdce6abce"'
    body: ! '{"data":[{"_id":"4de5090dc47eed17720004b5","id":"4de5090dc47eed17720004b5","name":"117","first_name":null,"last_name":null,"display_name":null,"nick_name":null,"email":"117@staging-badgeville-somedomain.com","user_email":"117@staging-badgeville-somedomain.com","created_at":"2011-05-31T08:28:13-07:00","user_id":"4d938dcf51c21c3fc100005b","site_id":"4d700bd351c21c1e3c000004","site_url":"community.stagingdomain.com","admin":false,"points_day":0.0,"points_week":0.0,"points_month":0.0,"points_all":0.0,"facebook_id":null,"facebook_link":null,"twitter_id":null,"twitter_username":null,"twitter_link":null,"email_notifications":null,"custom_picture_url":null,"picture_url":null,"preferences":{"hide_notifications":false,"publish_activity":true,"email_notifications":null},"tracks":{}}],"paging":{"current_page":1,"per_page":10,"total_entries":1,"total_pages":1}}'
  recorded_at: Tue, 13 Dec 2011 15:04:42 GMT
recorded_with: VCR 2.0.0.rc1
