---
http_interactions:
- request:
    method: post
    uri: http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/sites.json
    body: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Location:
      - http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/sites
    body: ! '{"name":"Test Site Name","created_at":"2012-01-04T07:02:51-08:00","url":"www.badgeville.com","id":"4f046a1b4dd625323b0018f8","_id":"4f046a1b4dd625323b0018f8"}'
  recorded_at: Wed, 04 Jan 2012 15:02:51 GMT
recorded_with: VCR 2.0.0.rc1
