---
http_interactions:
- request:
    method: get
    uri: http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/sites/4f046a1b4dd625323b0018f8.json
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"4384770eb0eb9f17fb4c049ddc04a21c"'
    body: ! '{"data":{"name":"Test Site Name","created_at":"2012-01-04T07:02:51-08:00","url":"www.badgeville.com","id":"4f046a1b4dd625323b0018f8","_id":"4f046a1b4dd625323b0018f8"},"paging":null}'
  recorded_at: Wed, 04 Jan 2012 15:06:52 GMT
recorded_with: VCR 2.0.0.rc1
