---
http_interactions:
- request:
    method: get
    uri: http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/sites.json?include_totals=true&page=1&per_page=10
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"6c40f45a064a22fe7e9e2637ada10f04"'
    body: ! '{"data":[{"name":"Generic BDV Property (localhost)","created_at":"2011-03-04T15:01:02-08:00","url":"localhost","id":"4d716f2e51c21c15f8000002","_id":"4d716f2e51c21c15f8000002"},{"name":"BadgevilleBattles
      (Production)","created_at":"2011-03-07T06:00:38-08:00","url":"BadgevilleBattles.com","id":"4d74e50651c21c15f7000180","_id":"4d74e50651c21c15f7000180"},{"name":"BadgevilleBattles
      (Prototype)","created_at":"2011-04-08T12:54:33-07:00","url":"prototype.BadgevilleBattles.com","id":"4d9f67f951c21c5100000013","_id":"4d9f67f951c21c5100000013"},{"name":"BadgevilleBattles
      (Staging)","created_at":"2011-03-07T06:00:55-08:00","url":"sta[...]
