---
http_interactions:
- request:
    method: post
    uri: http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/reward_definitions.json
    body: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Location:
      - http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/reward_definitions
    body: ! '{"type":"rewarddefinition","name":"API test (V2) reward - gem test","created_at":"2011-12-13T11:44:49-08:00","assignable":false,"allow_duplicates":false,"components":"[{\"comparator\":{\"$gte\":1},\"command\":\"count\",\"where\":{\"verb\":\"api_test_v2\",\"user_id\":\"%user_id\",\"site_id\":\"%site_id\"}}]","reward_template":{"message":"Congratulations!
      You''ve won the API test V2 badge!"},"tags":"API,test,v2","site_id":"4d700bd351c21c1e3c000004","image_url":"http://sandbox.v2.badgeville.com/images/misc/missing_badge.png","image_file_name":null,"data":{},"_id":"4ee7ab313dc64810b40001a4","id":"4ee7ab313dc64810b40001a4","active":true,"hint":null,"message":"Congratulations!
      You''ve won the API test V2 badge!","active_start_at":null,"active_end_at":null}'
  recorded_at: Tue, 13 Dec 2011 19:44:49 GMT
recorded_with: VCR 2.0.0.rc1
