---
http_interactions:
- request:
    method: get
    uri: http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/reward_definitions.json?include_totals=true&page=1&per_page=10&site=community.stagingdomain.com
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"3c482b1538cd9ebc88eba918ee7783a5"'
    body: ! '{"data":[{"type":"rewarddefinition","name":"1st place in three or more
      matches in a PS3 Resistance 3 Ladder","created_at":"2011-10-12T11:02:55-07:00","assignable":false,"allow_duplicates":false,"components":"[{\"comparator\":{\"$gte\":3},\"command\":\"count\",\"where\":{\"verb\":\"ps3_resistance-3_won_laddermatchfirst_threematches\",\"user_id\":\"%user_id\",\"site_id\":\"%site_id\",\"game\":\"resistance-3\",\"sku\":\"ps3\"}}]","reward_template":{"message":"1st
      place in three or more matches in a PS3 Resistance 3 Ladder"},"tags":"badge,online_competition,ladder,ps3,resistance-3","site_id":"4d700bd351c21c1e3c000004","image_url":"http://s3.amazonaws.com/badgeville-production-reward-definitions/images/4e95d64f4d6ce6552001b2f7/original.png?1318442575","image_file_name":"1stFor3.png","data":{},"_id":"4e95d64f4d6ce6552001b2f7","id":"4e95d64f4d6ce6552001b2f7","active":true,"hint":"","message":"1st
      place in three or more matches in a PS3 Resistance 3 Ladder","active_start_at":null,"active_end_at":null},{"type":"rewarddefinition","name":"2004
      Season Points Winner","created_at":"2011-05-12T13:58:53-07:00","assignable":false,"allow_duplicates":false,"components":"[{\"command\":\"count\",\"comparator\":{\"$gte\":1},\"where\":{\"verb\":\"season_points_winner\",\"user_id\":\"%user_id\",\"year\":\"2004\",\"site_id\":\"%site_id\"}}]","reward_template":{"message":"Congratulations!"},"tags":"medal,live_competition","site_id":"4d700bd351c21c1e3c000004","image_url":"http://s3.amazonaws.com/badgeville-production-reward-definitions/images/4dcc4a0cc47eed597000c4fc/original.png?1305233932","image_file_name":"PC_2004seasonChamp.png","data":{},"_id":"4dcc4a0cc47eed597000c4fc","id":"4dcc4a0cc47eed597000c4fc","active":true,"hint":null,"message":"Congratulations!","active_start_at":null,"active_end_a[...]
