---
http_interactions:
- request:
    method: post
    uri: http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/groups.json
    body: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Location:
      - http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/groups
    body: ! '{"id":"4f034a566a898d7049001633","name":"Test Group","type":"ladder","image_url":null,"tip":null,"message":null,"privileges":null,"note":null,"display_priority":0,"reward_definitions":[],"reward_image_url":null}'
  recorded_at: Tue, 03 Jan 2012 18:35:02 GMT
recorded_with: VCR 2.0.0.rc1
