---
http_interactions:
- request:
    method: get
    uri: http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/groups.json?include_totals=true&page=1&per_page=15
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"3273476c686445a2541a9e40514397bd"'
    body: ! '{"data":[{"id":"4f034a566a898d7049001633","name":"Updated Group Name","type":"ladder","image_url":null,"tip":null,"message":null,"privileges":null,"note":null,"display_priority":0,"reward_definitions":[],"reward_image_url":null}],"paging":{"current_page":1,"per_page":15,"total_entries":1,"total_pages":1}}'
  recorded_at: Tue, 03 Jan 2012 18:43:10 GMT
recorded_with: VCR 2.0.0.rc1
