---
http_interactions:
- request:
    method: post
    uri: http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/leaderboards.json
    body: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Location:
      - http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/leaderboards
    body: ! '{"id":"4f045bd44dd625323b0018ee","type":"Leaderboard","name":"Leaderboard
      Name","target_model":"Activity","command":"sum","field":"points","selector":{},"label":null,"data":{}}'
  recorded_at: Wed, 04 Jan 2012 14:01:57 GMT
recorded_with: VCR 2.0.0.rc1
