---
http_interactions:
- request:
    method: get
    uri: http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/leaderboards/4f0370c14dd625324500174f.json
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"6e97bab5d7c19b489a64203521048929"'
    body: ! '{"data":{"id":"4f0370c14dd625324500174f","type":"Leaderboard","name":"Mine","target_model":"Activity","command":"sum","field":"points","selector":{},"label":null,"data":{}},"paging":null}'
  recorded_at: Wed, 04 Jan 2012 14:08:18 GMT
recorded_with: VCR 2.0.0.rc1
