---
http_interactions:
- request:
    method: post
    uri: http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/tracks.json
    body: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Location:
      - http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/tracks
    body: ! '{"id":"4f047a264dd625324d001931","label":"Track label","type":"Track","image_url":null,"hint":null,"missionList":[],"nextMission":null}'
  recorded_at: Wed, 04 Jan 2012 16:11:18 GMT
recorded_with: VCR 2.0.0.rc1
