---
http_interactions:
- request:
    method: get
    uri: http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/tracks/4f047a264dd625324d001931.json
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"a87cdfe13a0835d07074bbe33c70dc93"'
    body: ! '{"data":{"id":"4f047a264dd625324d001931","label":"Track label","type":"Track","image_url":null,"hint":null,"missionList":[],"nextMission":null},"paging":null}'
  recorded_at: Wed, 04 Jan 2012 16:14:25 GMT
recorded_with: VCR 2.0.0.rc1
