---
http_interactions:
- request:
    method: get
    uri: http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/tracks.json?include_totals=true&page=1&per_page=10
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"c40e8c0409cc4ee8e981ffb3b9c1b304"'
    body: ! '{"data":[{"id":"4f047a264dd625324d001931","label":"Track label","type":"Track","image_url":null,"hint":null,"missionList":[],"nextMission":null}],"paging":{"current_page":1,"per_page":10,"total_entries":1,"total_pages":1}}'
  recorded_at: Wed, 04 Jan 2012 16:15:42 GMT
recorded_with: VCR 2.0.0.rc1
