---
http_interactions:
- request:
    method: post
    uri: http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/activities.json
    body: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Location:
      - http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/activities
    body: ! '{"_id":"4ee7c24c4dd62548300001da","_type":"Activity","created_at":"2011-12-13T13:23:24-08:00","definition_ids":["4dcc44dcc47eed597300c1fc","4dcc44e4c47eed597300c22a"],"internal":false,"player_id":"4e9604a14d6ce65520020999","points":0,"shard_id":"76cb6f74a70bcc317343322386204501","site_id":"4d700bd351c21c1e3c000004","team_ids":[],"user_id":"4e9604a14d6ce65520020998","verb":"api_test_v2","rewards":[{"name":"API
      Test (V2) Reward","created_at":"2011-12-13T13:23:24-08:00","activity_id":"4ee7c24c4dd62548300001da","id":"4ee7c24c4dd62548300001db","user_id":"4e9604a14d6ce65520020998","site_id":"4d700bd351c21c1e3c000004","definition":{"type":"rewarddefinition","name":"API
      Test (V2) Reward","created_at":"2011-05-12T13:59:00-07:00","assignable":false,"allow_duplicates":false,"components":"[{\"command\":\"count\",\"comparator\":{\"$gte\":1},\"where\":{\"verb\":\"api_test_v2\",\"user_id\":\"%user_id\",\"site_id\":\"%site_id\"}}]","reward_template":{"message":"Congratulations!
      You''ve won the API test V2 badge!"},"tags":"API,test,v2","site_id":"4d700bd351c21c1e3c000004","image_url":"http://sandbox.v2.badgeville.com/images/misc/missing_badge.png","image_file_name":null,"data":{},"_id":"4dcc4a14c47eed597300ca9b","id":"4dcc4a14c47eed597300ca9b","active":true,"hint":null,"message":"Congratulations!
      You''ve won the API test V2 badge!","active_start_at":null,"active_end_at":null},"image":"http://sandbox.v2.badgeville.com/images/misc/missing_badge.png","tags":["API","test","v2"],"status":null,"message":"Congratulations!
      You''ve won the API test V2 badge!","history":null,"next_reward_id":null},{"name":"API
      test (V2) reward - gem test","created_at":"2011-12-13T13:23:24-08:00","activity_id":"4ee7c24c4dd62548300001da","id":"4ee7c24c4dd62548300001dc","user_id":"4e9604a14d6ce65520020998","site_id":"4d700bd351c21c1e3c000004","definition":{"type":"rewarddefinition","name":"API
      test (V2) reward - gem test","created_at":"2011-12-13T11:44:49-08:00","assignable":false,"allow_duplicates":false,"components":"[{\"comparator\":{\"$gte\":1},\"command\":\"count\",\"where\":{\"verb\":\"api_test_v2\",\"user_id\":\"%user_id\",\"site_id\":\"%site_id\"}}]","reward_template":{"message":"Congratulations!
      You''ve won the API test V2 badge!"},"tags":"API,test,v2","site_id":"4d700bd351c21c1e3c000004","image_url":"http://sandbox.v2.badgeville.com/images/misc/missing_badge.png","image_file_name":null,"data":{},"_id":"4ee7ab313dc64810b40001a4","id":"4ee7ab313dc64810b40001a4","active":true,"hint":null,"message":"Congratulations!
      You''ve won the API test V2 badge!","active_start_at":null,"active_end_at":null},"image":"http://sandbox.v2.badgeville.com/images/misc/missing_badge.png","tags":["API","test","v2"],"status":null,"message":"Congratulations!
      You''ve won the API test V2 badge!","history":null,"next_reward_id":null}],"contents":[]}'
  recorded_at: Tue, 13 Dec 2011 21:23:25 GMT
recorded_with: VCR 2.0.0.rc1
