---
http_interactions:
- request:
    method: get
    uri: http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/activities.json?include_totals=true&page=1&per_page=10&site=community.stagingdomain.com
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"3eb7f770154e181ea68bf1a5d4813d4b"'
    body: ! '{"data":[{"_id":"4ee79ac34dd6254842000136","_type":"Activity","created_at":"2011-12-13T10:34:43-08:00","definition_ids":["4dcc44e6c47eed597300c232"],"internal":false,"player_id":"4ddd2b58c47eed304e00019b","points":0,"shard_id":"e0b1a3077db679f12851b0179dc411f1","site_id":"4d700bd351c21c1e3c000004","team_ids":[],"user_id":"4ddd2b58c47eed304e00019a","verb":"active_member_years","years":2,"rewards":[],"contents":[]},{"_id":"4ee79ac23dc64832040000f8","_type":"Activity","created_at":"2011-12-13T10:34:42-08:00","definition_ids":["4dcc44e8c47eed597000bcc3"],"internal":false,"player_id":"4ddd2b58c47eed304e00019b","points":0,"shard_id":"e0b1a3077db679f12851b0179dc411f1","site_id":"4d700bd351c21c1e3c000004","team_ids":[],"user_id":"4ddd2b58c47eed304e00019a","verb":"joined_BDV","year":2010,"rewards":[],"contents":[]},{"_id":"4ee797c93dc64810b0000129","_type":"Activity","created_at":"2011-12-13T10:22:01-08:00","definition_ids":[],"game":"fifa-soccer-11","internal":false,"player_id":"4e0a0f48c47eed2f80015921","points":0,"shard_id":"180cc8a35fd6fa3cae02720761b71092","site_id":"4d700bd351c21c1e3c000004","sku":"xbox360","team_ids":[],"user_id":"4e0a0f48c47eed2f80015920","verb":"xbox360_fifa-soccer-11_rankedexact_1_cmrs","rewards":[],"contents":[]},{"_id":"4ee797c84dd625483000018e","_type":"Activity","created_at":"2011-12-13T10:22:00-08:00","definition_ids":["4ed7d2cb6a898d2bf0000678"],"internal":false,"player_id":"4e0a0f48c47eed2f80015921","points":0,"shard_id":"180cc8a35fd6fa3cae02720761b71092","site_id":"4d700bd351c21c1e3c000004","team_ids":[],"user_id":"4e0a0f48c47eed2f80015920","verb":"votedcorrec[...]
