---
http_interactions:
- request:
    method: post
    uri: http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/users.json
    body: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Location:
      - http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/users
    body: ! '{"name":"a_badgeville_user","created_at":"2011-12-12T15:36:16-08:00","email":"a_badgeville_user@email.com","_id":"4ee68ff06a898d10f8000104"}'
  recorded_at: Mon, 12 Dec 2011 23:36:13 GMT
recorded_with: VCR 2.0.0.rc1
