---
http_interactions:
- request:
    method: get
    uri: http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/users.json?include_totals=true&page=1&per_page=10
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"7e8afbd4523be1e7745b967e02a321d1"'
    body: ! '{"data":[{"name":"a_new_name","created_at":"2011-10-12T14:20:33-07:00","email":"098@staging-badgeville-somedomain.com","_id":"4e9604a14d6ce65520020998"},{"name":null,"created_at":"2011-09-08T17:54:04-07:00","email":"0@production-badgeville-somedomain.com","_id":"4e6963acc47eed6b75003581"},{"name":null,"created_at":"2011-08-02T18:21:55-07:00","email":"0@staging-badgeville-somedomain.com","_id":"4e38a2b3c47eed219e000cff"},{"name":null,"created_at":"2011-05-13T08:22:39-07:00","email":"0@staging.BadgevilleBattles.com","_id":"4dcd4cbfc47eed5973011477"},{"name":null,"created_at":"2011-09-08T16:38:56-07:00","email":"1000907@production-badgeville-somedomain.com","_id":"4e695210c47eed6b750005e9"},{"name":null,"created_at":"2011-09-08T17:43:55-07:00","email":"1001664@production-badgeville-somedomain.com","_id":"4e69614bc47eed66a00039a8"},{"name":null,"created_at":"2011-09-08T16:24:27-07:00","email":"1003758@production-badgeville-somedomain.com","_id":"4e694eabc47eed66a0000842"},{"name":null,"created_at":"2011-09-08T17:53:14-07:00","email":"1004865@production-badgeville-somedomain.com","_id":"4e69637ac47eed6b750034cd"},{"name":null,"created_at":"2011-09-08T16:46:06-07:00","email":"1004873@production-badgeville-somedomain.com","_id":"4e6953bec47eed6b75000ae7"},{"name":null,"created_at":"2011-08-28T00:03:07-07:00","email":"1006499@production-badgeville-somedomain.com","_id":"4e59e82bc47eed1141003b4f"}],"paging":{"current_page":1,"per_page":10,"total_entries":14526,"total_pages":1453}}'
  recorded_at: Tue, 13 Dec 2011 14:56:53 GMT
recorded_with: VCR 2.0.0.rc1
