---
http_interactions:
- request:
    method: get
    uri: http://sandbox.v2.badgeville.com/api/berlin/thisisyourbadgevilleapikey/users/a_badgeville_user@email.com.json
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"19a469e3698c3930d5ca89991edf87f1"'
    body: ! '{"data":{"name":"a_badgeville_user","created_at":"2011-12-12T15:36:16-08:00","email":"a_badgeville_user@email.com","_id":"4ee68ff06a898d10f8000104"},"paging":null}'
  recorded_at: Tue, 13 Dec 2011 02:25:49 GMT
recorded_with: VCR 2.0.0.rc1
